<html>
  <head></head>
  <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
      <%= message %>
    </p>
    <% if @correct %>
      <p>
        The SECRET NUMBER is <%= number %>
      </p>
    <% end %>
  </body>
</html>
