<html>
  <head>
    <% if @over_five %>
      <style>
        body {
          background: red;
          font-size: 24px;
          color: 260DD7;
        }
      </style>
      <img src="http://www.reactiongifs.com/r/mjl.gif"
      />
    <% end %>
    <% if @nil %>
      <style>
        body {
          font-size: 24px;
          color: 260DD7;
        }
      </style>
      <img src="http://www.raulgonzalez.com/graphics/_lg_guessthenumber.png"
      />
    <% end %>
    <% if @under_five %>
      <style>
        body {
          background: #FF6666;
          font-size: 24px;
          color: 260DD7;
        }
      </style>
      <img src="https://media.tenor.com/images/36a78ded8e31f51ec4d2341fd79e2044/tenor.gif"
      />
    <% end %>
    <% if @correct %>
      <style>
        body {
          background: green;
          font-size: 24px;
          color: 260DD7;
        }
      </style>
      <img src="http://s2.quickmeme.com/img/ac/acc92f8954b5af56dc292d3246d5b35d2064dd084dc930813891520f0c29fed3.jpg"
      />
    <% end %>
  </head>
  <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
      <%= message %>
    </p>
    <% if @correct %>
        <p>
          The SECRET NUMBER is <%= number %>
        </p>
    <% end %>
    <% if cheater %>
      <p>
        The SECRET NUMBER is <%= number %>, Kurt
      </p>
      <img src="https://media.giphy.com/media/fOAohhTy0xTG/giphy.gif"
      />
    <% end %>
  </body>
</html>
